.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #000;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-right: 0rem;
    margin-bottom: 0rem;
}

.gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 12;
    margin-right: 0rem;
    margin-top: 0rem;
}

.gallery__item--4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
}

.gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
}

.gallery__item--6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
}

.gallery__item--7 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 8;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.gallery__item--8 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 13;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
}

.gallery__item--9 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-left: 0rem;
    margin-bottom: 0rem;
}

.gallery__item--10 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 12;
    margin-left: 0rem;
    margin-top: 0rem;
}

.gallery__item:hover {
    transform: scale(2);
    transition: 0.5s;
}

@media screen and (min-width: 1280px) {
    .gallery__item:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }
}
