.show1 {
    text-align: center;
    padding: 0 2rem;
}

@media screen and (min-width: 1280px) {
    .show1 {
        text-align: unset;
        grid-template-columns: 3fr;
        width: 500px;
        padding: 4.375rem 1rem;
        align-self: center;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

.expanded {
    background-color: #f5f5f5;
    max-width: 1140px;
} 

ul {
    display: unset;
}

@media screen and (min-width: 1280px) {
    ul {
        display: flex;
        place-items: center;
        place-content: center;
        border-bottom: #fff4;
        margin: 0rem;
    }
}

.show1__image,
    .show2__image,
    .show3__image,
    .show4__image {
        object-fit: cover;
        width: 90%;
        height: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

@media screen and (min-width: 1280px) {
    .show1__image,
    .show2__image,
    .show3__image,
    .show4__image {
        object-fit: cover;
        width: 200px;
        height: 200px;
        margin-left: 3.375rem;
        margin-right: 3.375rem;
        margin-top: 3.375rem;
        margin-bottom: 2.5625rem;
    }
}

.show1 details,
.show2 details {
    margin-top: 80px;
    margin-right: 54px;
}

.fa-clock {
    color: var(--color-primary);
}

.show1 h3,
.show2 h3 {
    text-transform: uppercase;
    color: var(--color-primary);
}

hr {
    color: #fff4;
    margin-top: 2rem;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-right: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

@media screen and (min-width: 1280px) {
    hr {
        margin-top: 0rem;
    }    
}

.fin {
    color: #fff4;
    margin-top: 2rem;
    margin-bottom: 41px;
    margin-left: 0px;
    margin-right: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

@media screen and (min-width: 1280px) {
    .fin {
        margin-top: 0rem;
    }
}
