.testemonial__image {
    margin-top: 2rem;
}

.slick-slide img {
    display: unset;
}

.slider__testemonials {
    display: grid;
    background-color: var(--color-primary);
    overflow-x: hidden;
}

.slide__testemonials {
    text-align: center;
}

.slider__testemonials h3 {
    display: grid;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 3.125rem;
    letter-spacing: -2px;
    color: #000;
}

.client--profession {
    font-size: 0.875rem;
    letter-spacing: 0.1875rem;
    font-weight: 400;
    color: #000;
}

.aspas {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 5.25rem;
    font-weight: 700;
    color: #000;
}

.client--testemonial {
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    padding-top: 0%;
    padding-bottom: 2rem;
}

@media screen and (min-width: 1280px) {
    .client--testemonial {
        font-size: 15px;
    }
}

.slick-dots {
    background-color: var(--color-primary);
    top: 42rem;
    bottom: 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}
